# Backend Configuration
NODE_ENV=production
PORT=5000

# Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_USER=dragonlost_user
DB_PASSWORD=G7n-wHH-zvr-r2B
DB_NAME=dragonlost_web

# Rust Database Configuration (read-only)
RUST_DB_HOST=localhost
RUST_DB_PORT=3306
RUST_DB_USER=oxide
RUST_DB_PASSWORD=uKF3FTZ?N3pG-a
RUST_DB_NAME=rust

# Steam API Configuration
# Получите ключ на: https://steamcommunity.com/dev/apikey
STEAM_API_KEY=DDD71FBFA1F4ADE5AA20AD7FD6DCA992
STEAM_RETURN_URL=https://dragonlost.ru/api/auth/steam/return
STEAM_REALM=https://dragonlost.ru

# Session Configuration
# Сгенерируйте случайную строку: openssl rand -base64 32
SESSION_SECRET=hoIiGe1P4wTY+UhVhN15Wmt2IbbjOf1IMemPWAsreyg=

# Ключ шифрования данных сессий в БД (AES-256-GCM)
# Сгенерируйте ключ: openssl rand -base64 32
# ВНИМАНИЕ: смена ключа инвалидирует все существующие сессии!
SESSION_ENCRYPTION_KEY=KrLwWKAcChumLnI978l265/0gXXMDKm1j3J/9htpOQ0=

# CORS Configuration
CORS_ORIGIN=https://dragonlost.ru

# Frontend Configuration (для frontend/.env)
VITE_API_URL=https://dragonlost.ru/api
RUST_SERVERS_API_KEY=npQdCNp9YXHZEYXb39jgz9YQ5wVNnaGJRJM


RCON_HOST=185.189.255.19       # IP вашего Rust-сервера
RCON_PORT=36501            # Порт RCON (по умолчанию 28016)
RCON_PASSWORD=uk4phkxm   # Пароль RCON из server.cfg


# Discord-уведомлений выбора карты:
DISCORD_ADMIN_WEBHOOK_URL=https://discord.com/api/webhooks/1474351026797678632/YiT_40nfnJO5yUuw6UHO9vBN9jaeD-RVpMylrJSbtnMmUg7AP_0HjFjY_XT1XFnjW59X

# RustMaps API (превью карт по seed/size)
# Получите ключ на: https://rustmaps.com/dashboard
RUSTMAPS_API_KEY=6dbf640493f2464eb8e130529938e0ef