name: Deploy To Server

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup SSH key
        run: |
          mkdir -p ~/.ssh
          install -m 600 /dev/null ~/.ssh/id_ed25519
          printf "%s\n" "${{ secrets.DEPLOY_KEY }}" > ~/.ssh/id_ed25519
          ssh-keyscan -H -t ed25519 ${{ secrets.SERVER_IP }} >> ~/.ssh/known_hosts

      - name: Test SSH
        run: |
          ssh -v ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_IP }} "echo OK"

      - name: Sync entire repo
        run: |
          rsync -az --delete \
            --exclude ".git" \
            --exclude ".github" \
            --exclude "logs" \
            --exclude "node_modules" \
            --exclude "frontend/.env" \
            --exclude "backend/.env" \
            --exclude ".env" \
            ./ \
            ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_IP }}:${{ secrets.PROJECT_PATH }}

      - name: Build on server
        run: |
          ssh ${{ secrets.SERVER_USERNAME }}@${{ secrets.SERVER_IP }} "
            cd ${{ secrets.PROJECT_PATH }}
            
            npm run install:all
            npm run build
            npm run start
          "